.pai{
    border: 2px solid;
    width: 98%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.filho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 50px;
    height: 50px;
}
.amarela{
    background-color: yellow;
}
.laranja{
    background-color: orange;
}
.lilas{
    background-color: blueviolet;
    order: 2;
}